<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/head :: scripts"></div>
    <div class="container-fluid">
        <h4 class="page-header">Monthly stuff</h4>

        <!--Messages-->
        <div class="alert alert-success" role="alert" th:text="${successMessage}" th:if="${successMessage != null}"></div>
        <div class="alert alert-warning" role="alert" th:text="${warningMessage}" th:if="${warningMessage != null}"></div>
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage != null}"></div>

        <div class="row">

            <!--Monthly stats-->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Monthy stats</div>
                    <div class="panel-body">
                        <table class="table small-text">
                            <thead>
                                <th>month</th>
                                <th>flow</th>
                                <div th:each="category : ${monthlyStat.categoryTitles}">
                                    <th th:text="${category}"> </th>
                                </div>
                                <th>uncategorized</th>
                            </thead>
                            <tr th:each="row : ${monthlyStat.rows}">
                                <td th:text="${row.startDate}"></td>
                                <td th:text="${row.moneyflow}"></td>
                                <div th:each="category : ${row.subcategory}">
                                    <td th:text="${category}" class="text-right"></td>
                                </div>
                                <td th:text="${row.uncategorized}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!--Monthly stats-->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Entries</div>
                    <div class="panel-body">
                        <table class="table small-text">
                            <thead>
                                <th>date</th>
                                <th>code</th>
                                <!--<th>account num</th>-->
                                <th>recipient</th>
                                <th>message</th>
                                <th>money</th>
                            </thead>
                            <tbody id="entries"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        function

        /*]]>*/
    </script>
</body>
</html>